*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  height: 100vh;
  font-family: 'Poppins';
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}

.app {
  text-align: center;
}