@media (min-width: 1000px) { 

  img {
    border-radius: 20px;
}

.mother-container {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100vw;
  max-width: 1200px;
  max-height: 90vh;
}

.container-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  height: 100%;

}

.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 2 /3 ;
}

.image {
  border-radius: 10px;
  height: 450px;
  width: 450px;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 70px;
  }

  .brief-history-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .brief-history-section p {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .history-section-logos {
    margin-bottom: 20px;
    margin-top: 30px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
  }
  
  .arrow {
    height: 120px;
    width: 3px;
    background-color: black;
  }

  .tech-skills-section {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .tech-skills-grid {
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .tech-image {
   
    height: 100px;
    width: 100px;
    background-color: brown;
    border-radius: 10px;
  }

  .vanity-section {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .vanity-grid {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    height: 500px;
    width: 900px;
    grid-template-rows: 1fr 1fr   ;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
  }
  
  .vanity-logos {
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
  }
  
  .vanity-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  
  }

  .books-read-section {
    width: 100%;
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .books-grid {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-rows: 1fr 1fr  ;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }
  
  .book-container {
  
    height: 350px;
    width: 250px;
  }

  .books-reading-section {
    height: 700px;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 150px;
  }
  
  .book-container-lonely {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 600px;
    width: 100%;
  }
  
  .books-lonely{
  
    height: 520px;
    width: 400px;
  }
  
  .back-to-top {
    height: 200px;
    width: 100%;
    min-height: 50px;
    color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }












}









@media (min-width: 600px) and (max-width: 1000px) {

  img {
    border-radius: 20px;
}
  .mother-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-width: 600px;
    max-width: 1000px;
    max-height: 100vh;
    margin-left: 40px;
    margin-right: 40px;
}

.container-top {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;

}

.profile-pic {
  max-width: 500px;
  border-radius: 10px;
  height: 500px;
  grid-row: 1 / 2;
  grid-column: 2 /3 ;
}

.image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.about-header {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 80px;
  }

  /* hidden element: */
.brief-history-section {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}

.brief-history-section p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.history-section-logos {
  margin-bottom: 20px;
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.arrow {
  height: 120px;
  width: 3px;
  background-color: black;
}

.tech-skills-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.tech-skills-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.tech-image {
 
  height: 100px;
  width: 100px;
  background-color: brown;
  border-radius: 10px;
}

.vanity-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.vanity-grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  height: 700px;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vanity-logos {
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
}

.vanity-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;

}

.books-read-section {
  width: 100%;
  height: 1700px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.books-grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.book-container {

  height: 420px;
  width: 300px;
}

.books-reading-section {
  height: 700px;
  min-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.book-container-lonely {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 600px;
  width: 100%;
}

.books-lonely{

  height: 520px;
  width: 400px;
}

.back-to-top {
  height: 200px;
  width: 100%;
  min-height: 50px;
  color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }














}




















/* mobile */
@media (min-width: 300px) and (max-width: 600px) {
  
  .container-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;

}

.intro {
  height: 100%;
}

.profile-pic {
  border-radius: 10px;
  height: 380px;

}

.image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.about-header {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  }

/* hidden element: */
.brief-history-section {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}

.brief-history-section p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.history-section-logos {
  margin-bottom: 20px;
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.arrow {
  height: 120px;
  width: 3px;
  background-color: black;
}
  
.tech-skills-section {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.tech-skills-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.tech-image {
 
  height: 80px;
  width: 80px;
  background-color: brown;
  border-radius: 10px;
}

.vanity-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.vanity-grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  height: 500px;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vanity-logos {
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
}

.vanity-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;

}

.books-read-section {
  width: 100%;
  height: 900px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.books-grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.books-reading-section {
  height: 500px;
  min-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.book-container {
  /* margin-top: 10px;
  height: 120px;
  width: 80px; */
}

.book-container-lonely {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 400px;
  width: 100%;
}

.books-lonely{
 
  height: 320px;
  width: 200px;
}
}

 
