.app-two {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.background {
  background-color: bisque;
}

.contact-info-container {
  padding: 20px;
    margin-top: 30px;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    gap: 20px;
}

.card-small {
    text-align: left;
    font-family: 'Lato';
    font-weight: 700;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
  }

  .card-subtitle {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0, 0.5);
    margin-bottom: 8px;
  }

  .contact-info-container-two {
    margin-top: 40px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }