
/* desktop */
@media (min-width: 1000px) { 
    img {
        border-radius: 20px;
    }
    video {
        border-radius: 15px;
    }

    .mother-container {
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        top:70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        width: 100vw;
        max-width: 1200px;
        max-height: 90vh;
    }

   #devils-header {
        width: 100%;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .twitter-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    

    #devils-development {
        height: 12000px;
        margin-top: 100px;
        display: grid;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.3fr 0.3fr 0.5fr 0.1fr 0.3fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr  ;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        row-gap: 100px
    }

    #story-board-last {
        grid-column: 1 / 3;
      }
    
        #trident-three {
            grid-column: 1 / 3;
        }
    
        #devil-illustrator {
            grid-column: 1 / 3;
        }
    
        #after-effects {
            grid-column: 1 / 3;
        }
    
        #premier-pro {
            grid-column: 1 / 3;
        }
    
        #sound-effects {
            grid-column: 1 / 3;
    
        }
    
        #puppet-pins {
            grid-column: 1 / 3;
        }
    
        #devils-challenges {
            height: 1400px;
                padding: 0px;
                display: grid;
                grid-template-rows: 0.1fr 0.1fr 0.5fr;
                grid-template-columns: 50% 50%;
                row-gap: 50px;
           
        }

        .main-video {
            max-height: 600px;
            max-width: 600px;
            min-height: 500px;
            min-width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            border-radius: 15px;
        }
    
        .devils-sub-title {
            text-align: center;
            font-size: 18px;
        }

    }

/* tablet */
@media (min-width: 500px) and (max-width: 1000px) { 

    img {
        border-radius: 20px;
    }
    video {
        border-radius: 15px;
    }

    #devils-header {
        width: 100%; 
        height: 800px;  
        margin-top: 50px;
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 90% 10%;
        row-gap: 50px
    }

    .main-video {
        background-color: black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 100%;
        grid-column: 1 / 3;
    }
    
    .twitter-container {
        height: 30px;
        width: 100%;
        padding-top: 20px;
        
    }

    #devils-development {
        margin-top: 100px;
        display: grid;
        grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr 0.5fr 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr  ;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        row-gap: 100px
    }

  #story-board-last {
    grid-column: 1 / 3;
  }

    #trident-three {
        grid-column: 1 / 3;
    }

    #devil-illustrator {
        grid-column: 1 / 3;
    }

    #after-effects {
        grid-column: 1 / 3;
    }

    #premier-pro {
        grid-column: 1 / 3;
    }

    #sound-effects {
        grid-column: 1 / 3;

    }

    #puppet-pins {
        grid-column: 1 / 3;
    }

    #devils-challenges {
      
            padding: 0px;
            display: grid;
            grid-template-rows: 0.1fr 1fr;
            grid-template-columns: 50% 50%;
            row-gap: 50px;
       
    }

    .main-video {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 15px;
    }
    








}


/* mobile */
@media (min-width: 360px) and (max-width: 500px) {

    .main-video {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 100%
    }
    
    .twitter-container {
        height: 30px;
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
    }

    #devils-challenges {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
        gap: 10px;
    }

    #devils-development {
        margin-top: 100px;
        height: 7000px;
        display: grid;
        grid-template-rows: 0.05fr 0.1fr 0.05fr 0.1fr 0.05fr 0.1fr 0.1fr 0.5fr 0.5fr 0.1fr 0.5fr 0.05fr 0.1fr 0.1fr 0.5fr 0.5fr 0.05fr 0.05fr 0.5fr 0.05fr 0.35fr 0.5fr 0.05fr 0.05fr 0.5fr 0.05fr 0.05fr 0.5fr;
        grid-template-columns: 100%;
        column-gap: 20px;
        row-gap: 10px
    }

    .result {
        margin-top: 50px;
    }

    .devil-section-titles {
        font-size: 20px;
        margin-bottom: 10px;
    }
}