/* Laptop */
@media (min-width: 1000px) { 

    img {
        border-radius: 20px;
    }
    .mother-container {
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        top:70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        width: 100vw;
        max-width: 1200px;
        max-height: 90vh;
    }

    .container {
        padding: 30px;
    }

    header {
        
        width: 100%;
        padding: 30px;
        margin-top: 80px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .title-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      
    }

    .title-button-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .main-title {
        text-align: center;
        width: 100%;
        font-size: 55px;
        margin-bottom: 5px;
    }

    .sub-title {
        font-size: 20px;
        text-align: center;
        width: 100%;

    }

    .main-image {
        display: flex;
        flex-direction: column;
        max-height: 600px;
        height: 100%;
        width: 1005;

        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .button-container {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

    }

    .button {
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .github-container {
        margin-right: 15px;
        height: 62px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .github-img {
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
    }

    .technologies-used {
        width: 100%;
        height: 150px;

    }

    .grid-container {
        margin-top: 10px;
        height: 100px;
        width: 400px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .show-reading {
        width: 100%;
        min-height: 100px;
        color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        .hidden-element {
            display: none;
           
        }
        
        .visible-element {
            padding: 100px;
            width:100%;
            display:flex;
            flex-direction: column;
        }

        .reading-button {
            font-size: 20px;
            margin-right: 3px;
        }
    
        .reading-button-container {
            display: flex;
            
         }

         .hide-reading {
            visibility: hidden;
        }

        .goal {
            width: 100%;
            padding: 30px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: bisque;
            border-radius: 15px;
        }

        .list {
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: black;
            list-style:disc;
            flex: 1;
            margin-bottom: 20px;
        }
        
        .list li {
            margin-bottom: 8px;
            font-weight: 400;
        }

        .development {
            margin-top: 150px;
            height: 800px;
            display: grid;
            grid-template-rows: 0.1fr 1fr ;
            grid-template-columns: 50% 50%;
            gap: 30px;
            align-items: flex-start;
            justify-content: center;
        
        }

        .development-title-container {
            grid-column: 2 / 3;
        }

        .main-image-two {
            display: flex;
            height: 100%;
            width: 100%;
            margin-bottom: 30px;
            border-radius: 10px;
        }

        #img-one {

            height: 100%;
            width: 100%;
            border-radius: 10px;
            grid-row: 2 / 3;
            grid-column: 1 / 2;

        }

        #img-two {

            height: 100%;
            width: 100%;
            border-radius: 10px;
            grid-row: 2 / 3;
            grid-column: 2 / 3;

        }

        .github-section {
            margin-top: 150px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 100%;
                gap: 30px;
              
        }

        .dynamic-rendering {
            margin-top: 150px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        .render-section-title-container {
            grid-row: 1 / 2;
            grid-column: 2 / 3;

        }

        #day-img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }


        #night-img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            grid-row: 2 / 3;
            grid-column: 2 / 3;

        }

        .challenges {
            height: 1100px;
            margin-top: 150px;
            padding: 0px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
      
        }

        #weather-challenge-img {

            height:100%;
            width: 100%;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
    


        .result {
            border-radius: 15px;
            margin-top: 150px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: rgb(235, 220, 245);
        }

        .what-i-learnt {
            margin-top: 150px;
            margin-bottom: 150px;
            padding: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr
        
        }

        .what-i-learnt li {
            margin-bottom: 15px;
        }
    
        .back-to-top {
            width: 100%;
            min-height: 50px;
            color: rgb(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            }
    
    
            .reading-button {
                font-size: 20px;
                margin-right: 3px;
            }
        
            .reading-button-container {
                display: flex;
                
             }
    
             .hide-reading {
                visibility: hidden;
            }
    
    
            .section-titles {
                font-size: 40px;
                margin-bottom: 15px;
            }
        
        
        
            .continue-reading-title {
                font-size: 25px;
            }

            .goal {
                padding: 50px;
                margin-top: 200px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                background-color: bisque;
                border-radius: 15px;
            }
        


    .goal-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
    }
    
    .goal-list li {
        margin-bottom: 10px;
        font-weight: 400;
    }

    .github-section {
        margin-top: 100px;
            display: grid;
            grid-template-rows: 0.1fr 1fr;
            grid-template-columns: 50% 50%;
    }

    #github-section-img {
        grid-column: 1 / 3;
    }

    .dynamic-rendering {
        margin-top: 100px;
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        grid-template-columns: 50% 50%;
        row-gap: 30px;
        
    }

    #day-img {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #night-img {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .challenges {
        margin-top: 100px;
        padding: 0px;
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        grid-template-columns: 50% 50%;
    }

    #weather-challenge-img {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    .solution-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .solution-list li {
        margin-bottom: 20px;
    }

    .i-learnt-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .i-learnt-list li {
        margin-bottom: 5px;
    }

    .result-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    } 

    .result-list li {
        margin-bottom: 5px;
    }

   













}
















/* Tablet */
@media (min-width: 600px) and (max-width: 1000px) {

    img {
        border-radius: 20px;
    }
    .mother-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        min-width: 600px;
        max-width: 1000px;
        max-height: 100vh;
        margin-left: 40px;
        margin-right: 40px;
    }

    header {
        width: 100%; 
        height: 800px;  
        margin-top: 50px;
        display: grid;
        grid-template-rows: 2fr 1fr ;
        row-gap: 50px
    }

    .title-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 150px;
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .main-title {
        font-size: 60px;
        margin-bottom: 5px;
    }

    .main-image {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 600px;
        /* border-radius: 15px; */
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .title-button-container {
        width: 100%;
        display: flex;

    }

    .button-container {
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        grid-row: 2 / 3;
        grid-column: 2 / 3;

    }
    
    .github-container {
        margin-right: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .github-img {
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
    }
    
    .button {
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .container {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        flex: 1; 
    }

    .technologies-used {
        width: 100%;
        height: 150px;

    }

    .grid-container {
        margin-top: 10px;
        height: 100px;
        width: 400px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .show-reading {
        width: 100%;
        min-height: 100px;
        color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    
    

    .hidden-element {
        display: none;
       
    }
    
    .visible-element {
        display:flex;
        flex-direction: column;
    }

    .goal {
        padding: 50px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: bisque;
        border-radius: 15px;
    }

    .goal-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
    }
    
    .goal-list li {
        margin-bottom: 10px;
        font-weight: 400;
    }

    .i-learnt-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .i-learnt-list li {
        margin-bottom: 5px;
    }

    .result-list {
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    } 

    .result-list li {
        margin-bottom: 5px;
    }

    .development {
        margin-top: 100px;
        display: grid;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-template-columns: 50% 50%;
        row-gap: 30px
    
    }

    #img-one {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    #img-two {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    .main-image-two {
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .github-section {
        margin-top: 100px;
            display: grid;
            grid-template-rows: 0.1fr 1fr;
            grid-template-columns: 50% 50%;
    }

    #github-section-img {
        grid-column: 1 / 3;
    }

    .dynamic-rendering {
        margin-top: 100px;
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        grid-template-columns: 50% 50%;
        row-gap: 30px;
        
    }

    #day-img {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    #night-img {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    .challenges {
        margin-top: 100px;
        padding: 0px;
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        grid-template-columns: 50% 50%;
    }

    #weather-challenge-img {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    

    .result {
        border-radius: 15px;
        margin-top: 100px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(235, 220, 245);
    }

    .what-i-learnt {
        margin-top: 150px;
        margin-bottom: 150px;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr
    
    }

    .what-i-learnt li {
        margin-bottom: 15px;
    }

    .back-to-top {
        width: 100%;
        min-height: 50px;
        color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }


        .reading-button {
            font-size: 20px;
            margin-right: 3px;
        }
    
        .reading-button-container {
            display: flex;
            
         }

         .hide-reading {
           display: none;
        }


        .section-titles {
            font-size: 40px;
            margin-bottom: 15px;
        }
    
    
    
        .continue-reading-title {
            font-size: 25px;
        }

        .solution-title {
            margin-top: 70px;
        }


        

    
}








/* Mobile */
@media (min-width: 300px) and (max-width: 600px) {


    header {
        width: 100%;   
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .mother-container {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .main-image {
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 100%; 
    }
    
    .main-title {
        font-size: 40px;
        margin-bottom: 5px;
    }
    
    .title-container {
        padding: 20px;
        padding-bottom: 0px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 150px;
        width: 100%;
        /* margin-top: 50px; */
    }
    
    .technologies-used {
        padding: 15px;
        width: 100%;
        height: 150px;
    }
    
    .tech-logos {
        height: 80px;
        width: 80px;
    }
    
    .grid-container {
        margin-top: 10px;
        height: 70%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .button-container {
        padding-left: 20px;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .github-container {
        margin-right: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .github-img {
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
    }
    
    .button {
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .show-reading {
        width: 100%;
        min-height: 50px;
        color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    
     .hide-reading {
        visibility: hidden;
    }
    
    .goal {
        padding: 20px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: bisque;
    }

    .goal-list {
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
    }
    
    .goal-list li {
        margin-bottom: 10px;
        font-weight: 400;
    }

    .development {
        padding: 20px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
    }
    
    .main-image-two {
        display: flex;
        height: 350px;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .challenges {
        height: 700px;
        padding: 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

    }

    .solution-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        font-weight: 400;
    }

    .result-list {
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 20px;
        font-weight: 400;
    } 

    .result-list li {
        margin-bottom: 5px;
    }

    
    .what-i-learnt {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
    }

    .i-learnt-list {
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
        list-style:disc;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .i-learnt-list li {
        margin-bottom: 5px;
    }
    
    .list {
        padding: 30px;
        display: flex;
        flex-direction: column;
        color: black;
        list-style:disc;
        flex: 1;
        margin-bottom: 20px;
    }
    
    .list li {
        margin-bottom: 8px;
        font-weight: 400;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        flex: 1;
    }
    
    .hidden-element {
        display: none;
       
    }
    
    .visible-element {
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    
    .dynamic-rendering {
        padding: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .result {
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(235, 220, 245);
    }
    
    .github-section {
        margin-top: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
    }
    
    .continue-reading-title {
        font-size: 20px;
    }
    
    .back-to-top {
        width: 100%;
        min-height: 50px;
        color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    
        .reading-button {
            font-size: 20px;
            margin-right: 3px;
        }
    
        .reading-button-container {
            display: flex;
            
         }

         .solution-title {
            font-size: 15px;
      
        }

        .section-titles {
            font-size: 25px;
            margin-bottom: 15px;
        }
    


         
    
}


